@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  --clr-gunmetal: #272D2D;
  --clr-white: #FFFFFF;
  --clr-ghost-white: #F6F8FF;
  --clr-black: #000000;
  --clr-davy-gray: #50514F;
  --clr-imperial-red: #E54B4B;
  --clr-falu-red: #7D1212;
  --fw-strong: 800;
  --fw-medium: 600;
  --fw-regular: 400;
  --fw-light: 300;

}


main {
  background-color: var(--clr-gunmetal);
  width: 100vw;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  text-align: center;
  padding: 20px;
}

.book-image {
  width: 300px;
}

.book-thumbnail {
  height: 250px;
}

.book-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-info {
  padding: 50px;
}

.book-link {
  text-decoration: none;
  color: var(--clr-ghost-white);
}

.book-link:hover {
  color: var(--clr-imperial-red);
}

h1 {
  margin-bottom: 30px;
  color: var(--clr-ghost-white);
}

h2 {
  font-size: 0.95rem;
}

#navbar {
  background-color: var(--clr-davy-gray);
  display: flex;
  align-items: center;
  padding: 20px 100px;
}

#title {
  margin-bottom: 0px;
  font-size: 2rem;
}

.navbar-menu a:hover {
  background-color: var(--clr-imperial-red);
  color: var(--clr-ghost-white);
}

#footer {
  width: 100vw;
  background-color: var(--clr-imperial-red);
  position: absolute;
  bottom: -33%;
}

.rating-form {
  height: 100vh;
}

.rating-title {
  color: var(--clr-ghost-white);
}

.rating-section {
  margin-bottom: 30px;
}
